<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./companySignUpCompleted.css" />
    </head>
    <body>
        <div class="pageContainer">
            <div class="container">
                <div class="imageContainer">
                    <img src="../../assets/companySignUpCompleted/logo.png" alt="Logo" />
                </div>
                <div class="box">
                    <div class="title">Submissão em análise</div>
                    <p class="paragraph">
                        Os dados da sua empresas estão em análise. Em breve entraremos em contato pelos e-mails cadastrados.
                    </p>
                    <a href="/views/landingPage/landingPage.html" class="link">Voltar para Home</a>
                </div>
            </div>
        </div>
    </body>
</html>
