body {
    background-color: var(--color-primary);
    overflow-x: hidden;
}

.pageContainer {
    padding: 4rem 10rem;
    display: flex;
    grid-gap: 8rem;
}

.iconsContainer {
    display: flex;
    flex-direction: column;
    grid-gap: 4rem;
}

.iconBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
}

.iconImageBox {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.iconImageBox.active {
    background-color: var(--color-white);
    border-radius: 1rem;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.iconTitle {
    font-size: 1.6rem;
    color: var(--color-white);
    font-weight: 700;
}

.boxesContainer {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
    flex: 1;
    position: relative;
}

.box {
    padding: 3rem 4rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
}

.boxTitle {
    font-size: 3.4rem;
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    grid-gap: 2rem;
}

.btn {
    border: none;
    outline: none;
    font-size: 1.8rem;
    padding: 1.5rem 5rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.2s;
    background-color: var(--color-white);
    color: var(--color-primary);
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    transform: scale(1.05);
}

.backButton {
    background-color: transparent;
    color: var(--color-white);
}

.inputContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.input {
    background: none;
    border: 1px solid var(--color-primary);
    padding: 1.2rem 1.5rem;
    border-radius: var(--border-radius);
    outline: none;
}

.textarea {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius);
    outline: none;
    resize: none;
}

.uploadInput {
}

.skillExplanation {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.skill {
    padding: 1rem;
    font-size: 1.6rem;
    text-align: center;
    border: 1px solid var(--color-grey-dark-2);
    border-radius: 1rem;
}

.skillInputContainer {
    margin-bottom: 2rem;
}

.uploadContainer {
    width: 100%;
}

.uploadInput {
    display: none;
}

.uploadBox {
    width: 100%;
    padding: 3rem;
    text-align: center;
    font-size: 1.6rem;
    border: 1px dashed var(--color-primary);
    display: block;
    cursor: pointer;
}



/* SELECT2 STYLING */

.select2-container {
    width: 100% !important;
}

.select2-selection {
    background: none;
    border: 1px solid var(--color-primary);
    padding: 1rem 1.5rem !important;
    border-radius: var(--border-radius);
    outline: none;
    width: 100%;
    font-size: 1.6rem;
    border: 1px solid var(--color-primary) !important;
}

.select2-results__option {
    padding: 1.4rem 1rem !important;
}

.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--color-primary-light) !important;
}

.select2-results__option--selectable {
    font-size: 1.4rem;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid var(--color-primary) !important;
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border: 1px solid var(--color-primary) !important;
}

.select {
    padding: 1.4rem;
    outline: none;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius);
    width: 100%;
}

.select:required:invalid {
    color: #ccc;
}

/* 600 px */
@media screen and (max-width: 37.5em) {
    .pageContainer {
        padding: 2rem 3rem;
        grid-gap: 2rem;
    }
}
