.container {
    padding: 6rem 20%;
    position: relative;
}

.title {
    font-size: 4rem;
    color: var(--color-primary);
}

.subTitle {
    font-size: 2rem;
    margin: 1rem 0;
}

.containerBody {
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.sectionContainer {
    margin-bottom: 2rem;
}

.skillContainer {
    display: flex;
    grid-gap: 6rem;
}

.flex-50 {
    flex: 1 0 50%;
}

.textTitle {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.text {
    font-size: 1.6rem;
}

.skills {
    display: flex;
    grid-gap: 6rem;
}

.badgeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    grid-gap: 1.5rem;
    margin: 0.6rem 0;
    width: 100%;
}

.badge {
    padding: 0.4rem 0.8rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
    border-radius: var(--border-radius);
}

.badge-yellow {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.badge-blue {
    background-color: #007bff;
    color: var(--color-white);
}

.contactGroup {
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

.contactLabel {
    font-weight: 700;
}

.grid {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.editButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.editButton {
    font-size: 2rem;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 1rem 2.4rem;
    transition: all .2s;
}

.editButton:hover {
    transform: scale(1.05);
}


/* 600 px */
@media screen and (max-width: 37.5em) {
    .container {
        padding: 6rem 4rem;
    }

    .skillContainer {
        display: flex;
        flex-direction: column;
        grid-gap: 2rem;
    }
}