<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./loginPage.css" />
    </head>
    <body>
        <div class="pageContainer">
            <div class="container">
                <div class="imageContainer">
                    <img src="../../assets/loginPage/login.gif" alt="Login Gif" />
                </div>
                <div class="rightContainer">
                    <a href="../landingPage/LandingPage.html" class="backBtn">
                        <img src="../../assets/icons/back.png" alt="Voltar"
                    /></a>
                    <h1 class="title">Login</h1>

                    <div class="errorBadge"></div>
                    <!-- <form action="/user/login"  method="post"> -->
                        <input type="text" required placeholder="Email" id="email" name="email" class="textInput" />
                        <input
                            type="password"
                            required
                            placeholder="Senha"
                            id="password"
                            name="password"
                            class="textInput"
                        />
                        <div class="checkBoxContainer">
                            <input type="checkbox" name="terms" id="terms" />
                            <label for="terms">Eu concordo com os termos de uso</label>
                        </div>
                        <button type="submit" class="btn loginBtn">Login</button>
                    <!-- </form> -->

                    <div class="noAccountContainer">
                        <p class="noAccountText">Não possui uma conta?</p>
                        <a href="" class="noAccountLink">Criar conta</a>
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script src="./loginPage.js"></script>
    </body>
</html>
