.navbar {
    width: 100%;
    background-color: var(--color-primary);
    padding: 1.6rem;
}

.navbarTitle {
    color: var(--color-white);
    font-size: 2.4rem;
}

.container {
    display: flex;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--color-grey-dark-1);
    min-height: calc(100vh - 6rem);
    flex: 0 0 20vw;
    z-index: 10;
}

.listTitle {
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-grey-light-1);
    padding: 2.4rem 2.5rem;
    padding-bottom: 1rem;
    color: var(--color-grey-light-1);
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.2s;
}

.list {
    transition: all 0.8s;
}

.listItem {
    transition: all 0.8s;
    position: relative;
}

.listItem::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-image: linear-gradient(to right, var(--color-grey-light-1), var(--color-grey-light-4));
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}

.listItem:hover::before {
    transform: scaleY(1);
    width: 100%;
}

.listItem > a {
    display: flex;
    align-items: center;
    padding: 1.5rem 4rem;
    position: relative;
    z-index: 10;

    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-grey-light-1);
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 0.8s;
}

.listItem.active > a {
    background: linear-gradient(to right, var(--color-grey-light-1), var(--color-grey-light-4));
    color: var(--color-grey-dark-1);
}

.listItem:hover > a {
    color: var(--color-grey-dark-1);
}

/* CONTENT */

.content {
    flex: 1;
    padding: 4rem;
}

.title {
    font-size: 4rem;
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.createSkillBtn {
    padding: 1.2rem 4rem;
    border-radius: 3px;
    border: none;
    background-color: var(--color-primary);
    font-size: 1.6rem;
    color: var(--color-white);
    margin-bottom: 2rem;
    float: right;
    cursor: pointer;
    transition: all 0.2s;
}

.createSkillBtn:hover {
    transform: translateY(-0.2rem);
}

.skillTable {
    width: 100%;
    border: 1px solid #333;
    padding: 2rem;
    border-radius: 3px;
    border-collapse: collapse;
    border-radius: 3px;
}

.row {
    /* display: flex; */
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    /* display: table-row; */
    border: 1px solid var(--color-grey-dark-2);
    border-radius: 3px;
}

.row th {
    text-align: start;
    color: var(--color-grey-dark-1);
    padding-bottom: 1rem;
    padding: 1rem;    

}
.row td {
    text-align: start;
    color: var(--color-grey-dark-2);
    padding-bottom: 0.6rem;
    padding: 1rem;    
}

.trashIcon {
    width: 2rem;
    height: 2.5rem;
    /* object-fit: cover; */

    cursor: pointer;
    transition: all 0.2s;
}

.trashIcon:hover {
    transform: scale(1.1);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    border-radius: 3px;
    background-color: var(--color-white);
    z-index: 110;
    display: none;
}

.modalHead {
    font-size: 3rem;
    padding-bottom: 0.6rem;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    color: var(--color-grey-dark-1);
}

.modalBody {
    padding-top: 2rem;
    display: flex;
    grid-gap: 2rem;
    align-items: flex-start;
}

.skillInput {
    padding: 1.2rem 0.8rem;
    outline: none;
    border: 1px solid var(--color-grey-dark-2);
    border-radius: 3px;
}
