.container {
    display: flex;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--color-grey-dark-1);
    min-height: calc(100vh - 6rem);
    flex: 0 0 20vw;
    z-index: 10;
}

.listTitle {
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-grey-light-1);
    padding: 2.4rem 2.5rem;
    padding-bottom: 1rem;
    color: var(--color-grey-light-1);
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.2s;
}

.list {
    transition: all 0.8s;
}

.listItem {
    transition: all 0.8s;
    position: relative;
}

.listItem::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-image: linear-gradient(to right, var(--color-grey-light-1), var(--color-grey-light-4));
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}

.listItem:hover::before {
    transform: scaleY(1);
    width: 100%;
}

.listItem > a {
    display: flex;
    align-items: center;
    padding: 1.5rem 4rem;
    position: relative;
    z-index: 10;

    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-grey-light-1);
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 0.8s;
}

.listItem.active > a {
    background: linear-gradient(to right, var(--color-grey-light-1), var(--color-grey-light-4));
    color: var(--color-grey-dark-1);
}

.listItem:hover > a {
    color: var(--color-grey-dark-1);
}

/* CONTENT */

.content {
    flex: 1;
    padding: 4rem;
}

.title {
    font-size: 4rem;
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.containerBody {
    display: flex;
    grid-gap: 4rem;
}

.left {
    flex: 0 0 calc(50% - 4rem);
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
}

.textContainer {
}

.textTitle {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.text {
    font-size: 1.6rem;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    grid-gap: 4rem;
}

.img {
}

.logo {
    width: 100%;
    height: 15rem;
    object-fit: contain;
}

.like {
    width: 30%;
    transition: all 0.2s;
    cursor: pointer;
}

.like:hover {
    transform: scale(1.05);
}

.informations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;

    font-size: 1.5rem;
}

.informationParagraph {
    font-weight: 700;

}

.informationParagraph > span {
    font-weight: 400;
}

.buttonContainer {
    display: flex;
    grid-gap: 2rem;

}

.btn {
    width: 100%;
    padding: 1.4rem;
    outline: none;
    background-color: none;
    border: none;
    cursor: pointer;
    transition: all .2s;
    font-size: 1.6rem;
    border-radius: 3px;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-green {
    background-color: #28a745;
    color: var(--color-white);
}