.container {
    display: flex;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--color-grey-dark-1);
    min-height: calc(100vh - 6rem);
    flex: 0 0 20vw;
    z-index: 10;
}

.listTitle {
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-grey-light-1);
    padding: 2.4rem 2.5rem;
    padding-bottom: 1rem;
    color: var(--color-grey-light-1);
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.2s;
}

.list {
    transition: all 0.8s;
}

.listItem {
    transition: all 0.8s;
    position: relative;
}

.listItem::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-image: linear-gradient(to right, var(--color-grey-light-1), var(--color-grey-light-4));
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}

.listItem:hover::before {
    transform: scaleY(1);
    width: 100%;
}

.listItem > a {
    display: flex;
    align-items: center;
    padding: 1.5rem 4rem;
    position: relative;
    z-index: 10;

    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-grey-light-1);
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 0.8s;
}

.listItem.active > a {
    background: linear-gradient(to right, var(--color-grey-light-1), var(--color-grey-light-4));
    color: var(--color-grey-dark-1);
}

.listItem:hover > a {
    color: var(--color-grey-dark-1);
}

/* Content */

.content {
    flex: 1;
    padding: 2rem 4rem;
}


.companiesContainer {
    flex: 1;
}

.remoteWorkContainer {
    display: flex;
    grid-gap: 1rem;
}

.remoteWorkButton {
    padding: 1.2rem 0;
    background: none;
    border-radius: 3px;
    border: 1px solid var(--color-grey-light-4);
    cursor: pointer;
    width: 100%;
    transition: all .2s;
    font-weight: 500;
    font-size: 1.4rem;

}

.remoteWorkButton:hover {
    transform: scale(1.03);
}

.remoteWorkButton.active {
   color: var(--color-white);
   background-color: var(--color-primary);
   border: none;
}

.title {
    font-size: 5rem;
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 3rem;
}

.gridBox {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    background-color: #f7f7f7;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    padding: 2rem;

    transition: all .4s;
}

.gridBox:hover {
    transform: translateY(-.4rem);
}

.boxTitle {
    font-size: 2rem;
}

.boxSubTitle {
    font-size: 1.4rem;
}

.badgeContainer {
    display: flex;
    grid-gap: 1.5rem;
}

.badge {
    padding: 0.4rem 0.8rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: var(--border-radius);
}

.badge-yellow {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.boxText {
    font-size: 1.4rem;
}

.btn {
    border: none;
    outline: none;
    padding: 1.4rem 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.01);
}

.btn-yellow {
    background-color: var(--color-primary);
    color: var(--color-white);
}

