<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Aprovação de empresas</title>
        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./companyApproval.css" />
    </head>
    <body>
        <div class="navbar">
            <h3 class="navbarTitle">Brazilians In Tech</h3>

            <div class="navItem">
                <button id="logoutButton">Logout</button>
            </div>
        </div>
        <div class="container">
            <div class="sidebar">
                <div class="listTitle">Aprovação</div>
                <ul class="list">
                    <li class="listItem active">
                        <a href="/views/companyApproval/companyApproval.html ">Aprovação de empresas</a>
                    </li>
                </ul>
                <div class="listTitle ">Padronizações</div>
                <ul class="list">
                    <li class="listItem"><a href="/views/skills/skills.html">Competências</a></li>
                    <li class="listItem"><a href="">Tipos de vaga [Em desenvolvimento]</a></li>
                    <li class="listItem"><a href="">Modelos de trabalho [Em desenvolvimento]</a></li>
                    <li class="listItem"><a href="">Áreas [Em desenvolvimento]</a></li>
                </ul>
                <div class="listTitle">Visualizar</div>
                <ul class="list">
                    <li class="listItem"><a href="">Empresas aprovadas [Em desenvolvimento]</a></li>
                    <li class="listItem"><a href="">Usuárias [Em desenvolvimento]</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="companiesContainer">
                    <h1 class="title">Empresas</h1>
                    <div class="grid">
                        <!-- <div class="gridBox">
                            <h4 class="boxTitle">Nome da empresa</h4>
                            <p class="boxSubTitle">Fortaleza / Ceara</p>
                            <div class="badgeContainer">
                                <span class="badge badge-yellow"> Prêmios </span>
                                <span class="badge badge-yellow"> Prêmios </span>
                            </div>
                            <p class="boxText">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla dolorem soluta cum
                                illum ullam nam accusantium ipsum
                            </p>
                            <a class="btn btn-yellow" href="../viewCompany/viewCompany.html">Mais detalhes</a>
                        </div> -->
                        
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script src="../../global/global.js"></script>

        <script src="./companyApproval.js"></script>
    </body>
</html>
