<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vagas</title>
        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./jobs.css" />
    </head>
    <body>
        <div class="navbar">
            <h3 class="navbarTitle">Brazilians In Tech</h3>
            <div class="navItem active">
                <a href="/views/jobs/jobs.html">Vagas</a>
            </div>
            <div class="navItem">
                <button type="text" id="logoutButton">Logout</button>
            </div>
        </div>
        <div class="pageContainer">
            <div class="companiesContainer">
                <h1 class="title">Vagas</h1>
                <div class="createJobContainer">
                    <a href="/views/createJob/createJob.html" class="createJobLink">Criar vaga</a>
                </div>
                <div class="grid"></div>
            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script src="./jobs.js"></script>
        <script src="../../global/global.js"></script>
    </body>
</html>
