@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/* 1200 px */
@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%; /* 9 px */
    }
}

/* 900 px */
@media screen and (max-width: 56.25em) {
    html {
        font-size: 50%; /* 8 px */
    }
}

/* 600 px */
@media screen and (max-width: 37.5em) {
    html {
        font-size: 37.5%; /* 6 px */
    }
}

body {
    background-color: var(--color-white);
    color: var(--color-grey-dark-2);
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
}

:root {
    --color-primary: #f3c42e;
    --color-primary-light: #fad96e;
    --color-primary-dark: #b38802;
    --color-secondary: #530084;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    --color-white: #fff;
    --color-black: #000;
    --border-radius: 3px;
}

/* BOTÃO DE VOLTAR */
.backBtn {
    position: absolute;
    top: 2rem;
    left: 2rem;

    cursor: pointer;
    transition: all 0.2s;
}

.backBtn:hover {
    transform: scale(1.05);
}

.backBtn img {
    width: 4rem;
    height: 4rem;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background-color: var(--color-primary);
    padding: 0 2rem;
    height: 6rem;

    display: flex;
    /* align-items: center; */
}

.navbarTitle {
    color: var(--color-white);
    font-size: 2.4rem;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.navItem {
    transition: all 0.2s;
    padding: 0 2rem;
}

.navItem.active {
    background-color: var(--color-white);
}

.navItem.active > a {
    color: var(--color-primary);
}

.navItem:hover {
    background-color: var(--color-white);
}

.navItem:hover > a {
    color: var(--color-primary);
}

.navItem:hover > button {
    color: var(--color-primary);
}

.navItem > a {
    height: 100%;
    display: flex;
    grid-gap: 0.6rem;
    align-items: center;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: all 0.2s;
    font-size: 1.8rem;
    color: var(--color-white);
}

.navItem > button {
    height: 100%;
    display: flex;
    grid-gap: 0.6rem;
    align-items: center;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: all 0.2s;
    font-size: 1.8rem;
    color: var(--color-white);
    outline: none;
    background: none;
    border: none;
    font-family: "Nunito", sans-serif;
}

.navIcon {
    width: 5rem;
    height: 5rem;
    object-fit: scale-down;
}

.errorBadge {
    padding: 2rem;
    font-size: 1.6rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 3px;
    margin-bottom: 1rem;
    display: none;
}

.noDataFound {
    font-size: 2rem;
    margin-top: 4rem;
    text-align: center;
    font-weight: 700;
}
