<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Candidatas</title>

        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./candidates.css" />
    </head>
    <body>
        <div class="navbar">
            <h3 class="navbarTitle">Brazilians In Tech</h3>
            <div class="navItem">
                <a href="/views/jobs/jobs.html">Vagas</a>
            </div>
            <div class="navItem">
                <button type="text" id="logoutButton">Logout</button>
            </div>
        </div>
        <div class="container">
            <a href="../jobs/jobs.html" class="backBtn"> <img src="../../assets/icons/back.png" alt="Voltar" /></a>
            <h1 class="title">Candidatas BiT</h1>
            <p class="subTitle">
                A BiT garante que todas as candidatas listadas abaixa cumprem pelo menos 50% dos requisitos da vaga
                proposta pela sua empresa
            </p>

            <div class="grid"></div>
        </div>
    </body>

    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
    ></script>
    <script src="../../global/global.js"></script>
    <script src="./candidates.js"></script>
</html>
