<!DOCTYPE html>
<html lang="Português">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
       
        <title>Landing Page</title>
        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./landingPage.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Nunito:wght@300;400;600;700&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <main class="container">
            <div class="imageContainer">
                <img src="../../assets/landingPage/bitLogo.png" />
                <img src="../../assets/landingPage/bitLogo2.png" />
            </div>
            <div class="rightContainer">
                <div class="box">
                    <div class="boxImageContainer">
                        <img
                            class="img"
                            src="../../assets/landingPage/womanSearching.gif"
                        />
                    </div>

                    <div class="txt">
                        <h1 class="h1 titulo">PARA MULHERES</h1>
                        <div>
                            <h1 class="h1 sub color">AS MELHORES VAGAS</h1>
                            <a class="h1 sub"> DO MERCADO.</a>
                        </div>

                        <a href="/views/loginPage/loginPage.html?type=user" class="btn">SOU MULHER</a>
                    </div>
                </div>
                <div class="box">
                    <div class="boxImageContainer">
                        <img
                            class="img"
                            src="../../assets/landingPage/hand.gif"
                        />
                    </div>

                    <div class="txt">
                        <h1 class="h1 titulo">PARA EMPRESAS</h1>
                        <div>
                            <h1 class="h1 sub color">AS MELHORES CANDIDATAS</h1>
                            <div class="h1 sub">DO MERCADO.</div>
                        </div>

                        <a href="/views/loginPage/loginPage.html?type=company" class="btn">SOU EMPRESA</a>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
