<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Empresa</title>

        <link rel="stylesheet" href="../../styles/global.css" />
        <link rel="stylesheet" href="./companyProfile.css" />
    </head>
    <body>
        <div class="navbar">
            <h3 class="navbarTitle">Brazilians In Tech</h3>
            <div class="navItem">
                <a href="/views/companyMatch/companyMatch.html">Empresas</a>
            </div>
            <div class="navItem">
                <a href="/views/userProfile/userProfile.html">Perfil</a>
            </div>
            <div class="navItem">
                <button type="button" id="logoutButton">Logout</button>
            </div>
        </div>
        <div class="container">
            <a href="../companyMatch/companyMatch.html" class="backBtn">
                <img src="../../assets/icons/back.png" alt="Voltar"
            /></a>
            <div class="title"></div>
            <div class="containerBody">
                <div class="left">
                    <div class="textContainer">
                        <p class="textTitle">Filosofia</p>
                        <p class="text" id="philosophy"></p>
                    </div>
                    <div class="textContainer">
                        <p class="textTitle">Cultura</p>
                        <p class="text" id="culture"></p>
                    </div>
                </div>
                <div class="right">
                    <div class="textContainer">
                        <p class="textTitle">Informações da empresa</p>
                        <p class="text" id="openingDate"></p>
                        <p class="text" id="marketNiche"></p>
                        <p class="text" id="badges"></p>
                    </div>
                    <!-- <img class="img like" src="../../assets/companyProfile/likeIcon.png" alt="Like" /> -->
                    <button id="like" class="btn like"></button>
                </div>
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script src="../../global/global.js"></script>
        <script src="./companyProfile.js"></script>
    </body>
</html>
